<% provide :title, t("create_lesson") %>
<% provide :button_text, t("create_lesson") %>
<center>
  <h3> <%= t "new_lesson" %> </h3>
</center>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render "form" %>
  </div>
</div>
